.work_experience_container {
    background: #D4EDEA;
    height: 550px;
    overflow-x: hidden;
    overflow-y: scroll;
}

ion-card {
    margin: 80px auto;
    justify-content: center;
    align-items: center;
    max-width: 550px;
    --background: #EDFBFF;
    margin-top: 20px;
}

ion-card ion-card-header {
    --background: #657991;
}

#exp_hastag p {
    list-style-type: square;
    font-weight: 600;
    color: #7C5262;
    font-size: 15px;
}

ion-card-title,
ion-card-subtitle {
    font-weight: 900;
    color: #D4EDEA;
}

ion-card-content ul {
    padding: 2px 10px;
}

ion-card-content p {
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
}

ion-card ion-card-content p,
ion-card ion-card-content a {
    color: #926E8E;
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
}

ion-card-content {
    flex-direction: column;
}

#exp_hastag {
    margin: auto;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

#res ul,
#exp_hastag p {
    list-style-type: square;
    font-weight: 600;
    color: #7C5262;
    font-size: 15px;
}

@media screen and (max-width: 770px) {
    .work_experience_container {
        height: 100vh;
    }
    .epx_card {
        width: 90%;
    }
    ion-label {
        font-size: 14px;
    }
}

@media screen and (max-width: 450px) {
    .container {
        width: 90%;
    }
    ion-segment-button {
        width: 150px;
    }
    ion-label {
        font-size: 18px;
    }
}

@media screen and (max-width: 375px) {
    ion-segment-button {
        width: 140px;
        flex-direction: wrap;
    }
    ion-label {
        font-size: 15px;
    }
}

@media screen and (max-width: 330px) {
    ion-segment-button {
        width: 140px;
        flex-direction: wrap;
    }
    ion-label {
        font-size: 10px;
    }
}

@media (prefers-color-scheme: dark) {
    ion-segment-button {
        --background: dark;
        --indicator-color: #A0D6D0;
    }
}