.fixed_box {
    width: 1000px;
    padding: 10px;
    display: flex;
    --background: black;
    background: black;
}

.line {
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid black;
    margin-bottom: 15px;
}

.flex_box {
    display: flex
}

.browse_box {
    display: flex;
    ion-input {
        font-size: 25px;
    }
    ion-label {
        font-size: 20px;
    }
}