.access_hisotry_container {
    --background: #000000;
}

.list-md {
    background-color: black;
    padding: 0px;
}

.access_hisotry_title {
    --background: #332D31;
    color: orange;
    text-align: center;
    font-size: 15px;
}

.access_history_container {
    --background: #332D31;
    color: #7EF9FF;
    border-width: thin;
    text-align: center;
    font-size: 12px;
}