main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    background: #D4EDEA;
    min-height: 1000px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

section {
    background: #D4EDEA;
}

#container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container h1 {
    font-size: 40px;
    color: white;
}

#container p {
    color: white;
    margin: 5px 0px;
    font-weight: 500;
    line-height: 25px;
}

#occupation {
    font-size: 16px;
    color: white;
    margin: 0px;
}

#description {
    font-size: 14px;
    color: white;
    margin: 0px;
}

.left {
    width: 60%;
    height: 400px;
    border-radius: 8px;
    transform: translateX(-150px);
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.left_right {
    transform: translateX(0px);
    transition: all 2s;
    opacity: 1;
}

.right {
    width: 70%;
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    background-color: #3C4856;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    opacity: 0;
    margin-left: 20px;
    transform: translateX(150px);
    transition: all 1s;
}

.button_container {
    display: flex;
    margin: auto 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: bold;
}

.right_left {
    transform: translateX(0);
    opacity: 1;
    transition: all 2s;
}

.right p {
    font-size: 16px;
}

.hastag_container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    background: #D4EDEA;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.skill_box {
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: auto 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: bold;
    min-height: 300px;
}

.up {
    transform: translateY(0px);
    transition: all 1s;
    opacity: 1;
}

.skill {
    color: white;
    padding: 0px 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    margin: 10px;
}

.workExperience {
    background: #6A9DB0;
    cursor: grab;
}

.education {
    background: #6D7EAA;
    cursor: grab;
}

@media screen and (max-width: 877px) {
    .left {
        height: 100px;
        margin-right: 50px;
    }
    main {
        min-height: 50vh;
    }
    #container {
        flex-direction: column;
        width: 100%;
        margin: 50px 10px;
    }
    .left {
        width: 100%;
        height: 400px;
        margin-top: 10px;
    }
    .right {
        width: 100%;
        margin: 0;
        margin-top: -1px;
    }
    #hastag_container {
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 477px) {
    .left {
        width: 100%;
        height: 400px;
        margin-left: 50px;
    }
    .right {
        margin-top: 5px;
    }
}