<app-page-header></app-page-header>
<ion-content [scrollEvents]="true">

    <div class="background">
        <main class="main">
            <div id="container">
                <div class="left" [ngClass]="loadDone ? 'left_right' : ''">
                    <kendo-chart>
                        <kendo-chart-legend [visible]="showChartLegend" position="bottom"></kendo-chart-legend>
                        <kendo-chart-value-axis>
                            <kendo-chart-value-axis-item [name]="axis.name" [color]="axis.color" [min]="axis.min" [max]="axis.max">
                            </kendo-chart-value-axis-item>

                            <kendo-chart-category-axis>
                                <kendo-chart-category-axis-item [categories]="category" [labels]="categoryLabel"></kendo-chart-category-axis-item>
                            </kendo-chart-category-axis>
                        </kendo-chart-value-axis>
                        <kendo-chart-series>
                            <kendo-chart-series-item [labels]="seriesLabels" [name]="series.name" [data]="series.data" [color]="series.color" [axis]="series.axis" [stack]="series.stack">

                            </kendo-chart-series-item>
                        </kendo-chart-series>
                    </kendo-chart>
                </div>
                <div class="right" [ngClass]="loadDone ? 'right_left' : ''">
                    <div id="content">
                        <h1>{{info.name}}</h1>
                        <p id="occupation"><b>Company Name | </b>{{info.currentCompany}}</p>
                        <p id="occupation"><b>Current Position | </b>{{info.currentPosition}}</p>
                        <p id="occupation"><b>Current Study | </b>{{info.currentStudy}}</p>

                        <p id="description">
                            {{info.description}}
                        </p>
                        <div class="button_container">
                            <div class="skill workExperience" style="cursor: pointer" (click)="openWorkExperience()">
                                <p>Work Experience</p>
                            </div>
                            <div class="skill education" style="cursor: pointer" (click)="openEducation()">
                                <p>Education</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <app-page-footer></app-page-footer>
</ion-content>