<!--Register Form Header-->
<ion-header>
    <ion-toolbar>
        <ion-title>Login Form</ion-title>
        <ion-buttons slot="end" style="cursor: pointer">
            <ion-icon name="close-outline" (click)="dismiss()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<!--Content-->
<ion-content>
    <section class="form_container">
        <ion-item>
            <ion-label>Email Address</ion-label>
            <ion-input type="email" [(ngModel)]="emailAddress"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Password</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Login As Test Account</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="isTest" (ngModelChange)="setEmailAndPassword()"></ion-checkbox>
        </ion-item>
    </section>

    <!--Submit Button-->
    <ion-button class="form_action_btn" (click)="login()">Login</ion-button>

</ion-content>