<ion-header>
    <ion-toolbar>
        <ion-title>Education</ion-title>
        <ion-buttons slot="end" style="cursor: pointer">
            <ion-icon name="close-outline" (click)="dismiss()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-conent class="work_experience_container">

    <ion-card class="edu_card" *ngFor="let edu of education">
        <ion-card-header>
            <ion-card-title>{{edu.degree}}</ion-card-title>
            <ion-card-subtitle>{{edu.institution}}</ion-card-subtitle>
            <ion-card-subtitle>{{edu.graduateDate}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>

            <div id="subject">
                <p>Key Subjects</p>
                <ul *ngFor="let subject of edu.subject">
                    <li>{{subject}}</li>
                </ul>
            </div>
            <div id="edu_hastag">
                <div *ngFor="let tag of edu.hastag">
                    <p>{{tag}}</p>

                </div>
            </div>

        </ion-card-content>
    </ion-card>
</ion-conent>